.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    background-color:rgb(217, 225, 226);
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
    font-family: 'Georgia', serif;  

}
.about .left p{
    margin:  20px;
    font-family: 'Georgia', serif;  

}
.btn {
  display: inline-block;
  padding: 10px 22px;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
}


.about .right{
    text-align: center;
    margin: auto;
    max-width: 500px;
}
/* .right .img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
} */
.right .img{
    max-width: 90%;
    border:1px solid #333;
    border-radius: 100%;
    width: 350px;

    height: 390px;
    height: 300px;
     position: relative;
    align-items: center;
    text-align: center;
}
/* .right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}
.right .bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
} */
