.footer {
  background: #666060;
  color: black;
  padding: 20px 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;   
  gap: 20px;
  margin-bottom: 15px;
}


.location, .phone, .email {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
}

.social {
  display: flex;
  gap: 12px;
}

.social a {
  color: black;
  transition: transform 0.3s;
}

.social a:hover {
  transform: scale(1.2);
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  color: #222;
}
